HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/**/target/
/**/.mvn/
/**/mvnw/
/**/mvnw.cmd/
/**/.gitignore

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr